<script setup lang="ts">
import axios from "axios";
const login = () => {
  let username = "guamuser";
  let password = "As678678~";
  let otpToken = "439159";
  console.log({ username, password, otpToken });
  axios.post(`/api/user/login`, { username, password, otpToken });
};
</script>

<template>
  <p>
    <label for="username">username</label>
    <input id="username" />
  </p>
  <p>
    <label for="password">password</label>
    <input id="password" />
  </p>
  <p>
    <label for="otpToken">otpToken</label>
    <input id="otpToken" />
  </p>
  <button @click="login">Log in</button>
</template>
