<script setup lang="ts">
import { inject } from "vue";

const socket = inject("socket");

const emitHandler = () => {
  socket.emit("getslbclients");
  socket.emit("getedgeclients");
  socket.emit("termData", {});
  socket.emit("termResize", { termCols: [], termRows: [] });
  socket.emit("node_connect", {
    nodeType: "",
    hostname: "",
    sshKeyName: "",
    sshUser: "",
    sshHost: "",
    sshPort: "",
    sshAuthMethod: "",
    sshPassword: "",
    termCols: [],
    termRows: [],
  });

  // insert any emit events or events that triggers an emission from the server to client
};
</script>

<template>
  <button @click="emitHandler">Emitter</button>
</template>
