<script setup lang="ts">
import SocketEmitter from "./components/SocketEmitter.vue";
import LoginBtn from "./components/LoginBtn.vue";
import { inject } from "vue";

const socket = inject("socket");

// Listeners for default socket events
socket.on("connect", function () {
  console.log({ action: "socket", val: "Connected to WS server", socket });
});
socket.on("connect_error", function (err) {
  console.log({ "socket - connect_error": err });
});
socket.on("connect_timeout", function () {
  console.log("connect_timeout");
});
socket.on("connecting", function () {
  console.log("connecting");
});
socket.on("disconnect", function () {
  console.log("disconnect");
});
socket.on("error", function () {
  console.log("error");
});
socket.on("ping", function () {
  console.log("ping");
});
socket.on("pong", function () {
  console.log("pong");
});
socket.on("reconnect", function () {
  console.log("reconnect");
});
socket.on("reconnect_attempt", function () {
  console.log("reconnect_attempt");
});
socket.on("reconnect_error", function () {
  console.log("reconnect_error");
});
socket.on("reconnect_failed", function () {
  console.log("reconnect_failed");
});
socket.on("reconnecting", function () {
  console.log("reconnecting");
});

// Listeners for custom socket events
socket.onevent = function (packet) {
  console.log({ action: "received packet onevent", packet });
  switch (packet.data[0]) {
    case "updateslbclients":
      console.log({ action: "Update Slb Clients", data: packet.data[1] });
      break;
    case "updateedgeclients":
      console.log({ action: "Update Edge Clients", data: packet.data[1] });
      break;
    case "updateLineTestResult":
      console.log({ action: "Update Line Test Result", data: packet.data[1] });
      break;
    case "socketNotice":
      console.log({ action: "Socket Notice", data: packet.data[1] });
      break;
    case "termData":
      console.log({ action: "Term Data", data: packet.data[1] });
      break;
    default:
      break;
  }
};
</script>

<template>
  <img alt="Vue logo" src="./assets/logo.png" />
  <LoginBtn />
  <SocketEmitter />
</template>

<style>
#app {
  font-family: Avenir, Helvetica, Arial, sans-serif;
  -webkit-font-smoothing: antialiased;
  -moz-osx-font-smoothing: grayscale;
  text-align: center;
  color: #2c3e50;
  margin-top: 60px;
}
</style>
